#sea {
    width: 99%;
    height: 300px;
    position: absolute;
    background-image: url(images/sea2.jpg);
    background-size: cover;
    top: 310px;
  
    
  }
  body{
    background-color: black;
    
  }
#animate {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(images/ship2.png);
    top: 255px;
  }
  #sky {
    width: 100%;
    height: 305px;
    position: relative;
    background-image: url(images/land234.jpg);
    background-size: cover;
   /* background-repeat: repeat-x;*/
   }
   #fish {
     width: 50px;
     height: 50px;
     position: absolute;
     background-image: url(images/fish1234.png);
     top: 480px;
     left: 1200px;
   }
   #fish2 {
     width: 95px;
     height: 80px;
     position: absolute;
     background-image: url(images/octopus.png);
     top: 410px;
     left: 1100px;
   }
   #balloon {
       position: absolute;
       width: 100px;
       height: 100px;
       background-image: url(images/balloon.png);
       top:200px;
       background-repeat: no-repeat;
       

   }